@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

.login-container,
.signup-container {
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5%;
}

.login-text,
.signup-text {
  font-family: 'Roboto';
  font-weight: 900;
  font-size: 42px;
}

.login-email,
.login-password,
.signup-name,
.signup-email,
.signup-password {
  width: 450px;
  height: 70px;
  border-radius: 7px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: none;
  text-indent: 20px;
  font-size: larger;
}

input::placeholder {
  font-family: 'Segoe UI';
}

.login-button,
.signup-button {
  width: 450px;
  height: 60px;
  border-radius: 76px;
  border: none;
  cursor: pointer;
  background: #1da1f2;
  font-family: 'Segoe UI';
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
}

.login-button:hover,
.signup-button:hover {
  opacity: 0.9;
}

.login-text-container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.login-password-reset,
.login-signup {
  font-family: 'Segoe UI';
  color: #1da1f2;
  font-weight: 400;
  cursor: pointer;
}

.login-password-reset:hover,
.login-signup:hover {
  text-decoration: underline;
}

.home-container {
  min-height: 100vh;
  width: 85vw;
}

/* IMPORTANT: maybe remove this later because it might ruin other components */
#root {
  display: flex;
  justify-content: center;
}

.home-container {
  /* IMPORTANT: consider removing this later */
  /* margin-top: 10px; */
  display: flex;
  justify-content: space-between;
}

.home-left-navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 7px;
}

.home-tweet-button {
  background-color: #1da1f2;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  width: 180px;
  height: 50px;
  font-family: 'Roboto';
  color: white;
  font-weight: 700;
  border: none;
  transition: 300ms opacity ease-in-out;
}

.home-tweet-button:hover {
  opacity: 0.9;
}

.home-home-button {
  width: 180px;
  height: 50px;
  border-radius: 100px;
  background: none;
  border: none;
  transition: 300ms background-color ease-in-out;
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 5px;
}

.home-home-button:hover {
  background-color: #d1e8f8;
}

.home-twitter-logo {
  width: 43px;
  padding: 5px;
  border-radius: 20px;
  cursor: pointer;
  transition: 300ms background-color ease-in-out;
  margin-top: 10px;
}

.home-twitter-logo:hover {
  background-color: #d1e8f8;
}

.home-search {
  font-family: 'Roboto';
  font-weight: 400;
  background-image: url('./images/Search.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 5px;
  background-color: #e7ecf0;
  height: 38px;
  width: 250px;
  text-indent: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.home-search:focus,
.home-posts-search:focus {
  border: 1px solid #1da1f2;
}

.home-posts-search {
  font-family: 'Roboto';
  font-weight: 400;
  background-image: url('./images/Search.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-position-x: 5px;
  background-color: #e7ecf0;
  height: 38px;
  width: 380px;
  text-indent: 30px;
  border-radius: 30px;
  border: none;
  outline: none;
  margin-top: 10px;
}

.home-posts-container {
  width: 40vw;
  min-height: 100vh;
  border: 1px solid rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.search-bar-container {
  width: 100%;
  height: 6vh;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
}

.github-link {
  text-decoration: none;
  color: #1da1f2;
  font-family: Roboto;
  font-weight: 700;
}

.github-link:hover {
  color: #1da1f2;
}

.home-right-navigation {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: Roboto;
}

.home-signup {
  border: 1px solid rgba(0, 0, 0, 0.08);
  width: 25vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 20vh;
  border-radius: 30px;
}

.home-signup-button {
  background-color: #1da1f2;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  width: 280px;
  height: 40px;
  font-family: 'Roboto';
  color: white;
  font-weight: 700;
  border: none;
  transition: 300ms opacity ease-in-out;
}

.home-signup-button:hover {
  opacity: 0.9;
}

.p1 {
  font-family: 'Roboto';
  font-size: larger;
  font-weight: 900;
  margin-right: 130px;
}

.post-img-container img {
  width: 60px;
  clip-path: circle();
}

.post-container {
  display: flex;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  cursor: pointer;
}

.svg-container {
  cursor: pointer;
}

.svg-container:hover svg path {
  fill: #1da1f2 !important;
}

.post-info {
  width: 100%;
}

.name {
  font-weight: 700;
  font-family: Roboto;
}

.at:hover {
  text-decoration: underline;
}

.date:hover {
  text-decoration: underline;
}

.name:hover {
  text-decoration: underline;
}

.post-info-header {
  display: flex;
  justify-content: space-between;
}

.post-info-text {
  display: flex;
  margin-left: 10px;
  justify-content: flex-start;
  align-items: center;
}

.post-info-reactions {
  display: flex;
  justify-content: space-between;
}

.post-container:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.svg-container {
  padding: 5px;
  clip-path: circle();
  transition: 150ms background-color ease-in-out;
}

.svg-container:hover {
  background-color: #d6e7f3;
}

.dots {
  margin-top: 10px;
}

/* 
post-info-header
post-info-text
post-info-reactions */
